.taskList {
    min-height: 1000px;
    position: relative;
    padding-bottom: 10%;
}

.taskList .grade {
    position: relative;
    left: -10%;
    text-align: left;

}

.taskList .grade h2 {
    font-size: 30px;
}

.taskList .choices {
    position: absolute;
    top: 5%;
    left: 20%;
    display: flex;
}

.taskList .tasks {
    position: absolute;
    top: 12%;
    left: -10%;
    min-height: 600px;

}

.taskList .tasks .task {
    position: relative;
    display: flex;
}

.taskList .tasks .task .titles {
    width: 100%;
    padding-right: 100px;
}


.taskList .tasks .task .titles .taskTitle {
    font-size: 40px;
    font-weight: bold;
}

.taskList .tasks .task .titles .taskDetail {
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.tasks .task .subTasks {
    position: relative;
    padding-bottom: 5%;
    right: -10%;
    top: 50px;
    font-size: 12px;
    width: 100%;
}

